(
  resources: {},
  entities: {
    4294967303: (
      components: {
        "bevy_reactive_blueprints::Blueprint<basic::RectBlueprint>": ((
          origin: (
            x: 0.0,
            y: 0.0,
          ),
          size: (
            x: 4.0,
            y: 4.0,
          ),
          color: Srgba((
            red: 0.0,
            green: 0.0,
            blue: 1.0,
            alpha: 1.0,
          )),
        )),
      },
    ),
  },
)
